body, html {
	height:100%; width:100%;
	padding:0;
	margin:0;
	font-family:sans-serif;
	font-size:16pt;
	background-color:#8D9199;
	max-width:40em;
	min-width:25em;
	/*margin:0 auto;*/
	margin:5px;
	
	background: radial-gradient(rgb(190, 190, 190), rgb(90, 90, 90)) repeat scroll 0% 0% transparent;
}

code {
	font-family:monospace;
	color:#FAF477;
}

.ui-dialog, #FileToolbar {
	font-size:60%;
}

#header{
	text-shadow:#fff 0 0 3px;
}
#ListContainer {
	width:16em;
	height:90%;
	float:left;
}
#CommandList {
	height:90%;
	overflow:scroll;
}
#CommandList ul {
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:0.5em;
}
li.CommandItem {
	margin:0;
	padding:0;
	border:1px solid #777777;
	background-color:#1A1A1A;
	position:relative;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}




li.CommandItem.running {
	border:solid 1px #004EFF;
	box-shadow: 0px 0px 5px #004EFF;
	background-color:#1C1A21;
}

.pointer, .command, .param {
	display:table-cell;
	/*display:inline-block;*/
	vertical-align: middle;
	height:2em;
	color:#F7FFC2;
	text-shadow:#294FFF 0 0 4px;
}
.command {
	width:5em;
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:46px;
}
.command.add {
	background-image:url(images/ADD.png);
}
.command.zu {
	background-image:url(images/JMP.png);
}
.command.springe {
	background-image:url(images/JMP_r.png);
}
.command.zu_neg {
	background-image:url(images/JMPN.png);
}
.command.springe_neg {
	background-image:url(images/JMPN_r.png);
}
.command.zu_zero {
	background-image:url(images/JMPZ.png);
}
.command.springe_zero {
	background-image:url(images/JMPZ_r.png);
}
.command.sub {
	background-image:url(images/SUB.png);
}
.command.lade {
	background-image:url(images/LADE.png);
}
.command.schreibe {
	background-image:url(images/SCHREIBE.png);
}
.command.stop, .command.stopp, .command.halt {
	background-image:url(images/STOPP.png);
}
.param {
	text-align:center;
	width:3em;
}
.pointer {
	width:1.5em;
	color:transparent;
}
#CommandList ul li.active .pointer {
	font-size:100%;
	color:#F7FFC2;
}



li.CommandItem .DeleteItem {
	display:none;
	position:absolute;
	right:0px;
	top:0px;
	height:1em;
	width:1em;
	color:gray;
	cursor:pointer;
}
li.CommandItem .DeleteItem:hover {
	color:white;
	text-shadow:#ffff00 0 0 4px;
}
li.CommandItem:hover .DeleteItem {
	display:block;
}





li.InsertItem {
	height:0.2em;
	text-align:center;
	background: #9dd53a;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
li.InsertItem a, .helpplus {
	padding-bottom:0.2em;
	height:1em;
	width:2em;
	text-align:center;
	border:solid 1px #174F2E;
	color:gray;

	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%); /* IE10+ */
	background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#80c217',GradientType=0 ); /* IE6-9 */
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.helpplus {
	color:white;
}
li.InsertItem a {
	cursor:pointer;
	display:none;
	position:relative;
	z-index:99;
	top:-0.5em;
}
li.InsertItem.last a, li.InsertItem:hover a, li.InsertItem a:hover {
	display:inline-block;
	color:white;
	text-shadow:#ffff00 0 0 4px;
}







#Container {
	padding:5px 0 0 17em;
}


#RegContainer span.Reg, #RamContainer span.Ram {
	display:inline-block;
	border:solid 1px #151515;
	background-color:#232323;
	color:#cccccc;
	padding:4px;
	margin:3px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#RegContainer span.Reg>span, #RamContainer span.Ram>span {
	display:inline-block;
	width:3em;
	padding:0.1em;
	padding-left:0.2em;
	margin-left:0.2em;
	background-color:#3B3B3B;
	color:white;
	text-shadow:#00C223 0 0 4px;
	border:solid 1px #000000;
	text-align:right;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#RegContainer span.Reg>span.changed, #RamContainer span.Ram>span.changed {
	border:solid 1px #004EFF;
	box-shadow: 0px 0px 5px #004EFF;
}
